{{- if .Site.Params.widgets.social }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">{{ T "social_title" }}</h4>
	<div class="widget-social__content widget__content">
		{{- with .Site.Params.widgets.social.home }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn home" title="Home" rel="noopener noreferrer" href="{{ . }}" target="_blank">
				{{ partial "svg/home.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.buymeacoffee }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn home" title="Buy me a coffee" rel="noopener noreferrer" href="https://www.buymeacoffee.com/{{ . }}" target="_blank">
				{{ partial "svg/bmc.svg" (dict "class" "widget-social__link-button") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.facebook }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn facebook" title="Facebook" rel="noopener noreferrer" href="https://facebook.com/{{ . }}" target="_blank">
				{{ partial "svg/facebook.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.instagram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn instagram" title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/{{ . }}" target="_blank">
				{{ partial "svg/instagram.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.twitter }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn twitter" title="Twitter" rel="noopener noreferrer" href="https://twitter.com/{{ . }}" target="_blank">
				{{ partial "svg/twitter.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.linkedin }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn linkedin" title="LinkedIn" rel="noopener noreferrer" href="https://linkedin.com/{{ . }}" target="_blank">
				{{ partial "svg/linkedin.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.telegram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn" title="Telegram" rel="noopener noreferrer" href="https://t.me/{{ . }}" target="_blank">
				{{ partial "svg/telegram.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.github }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn github" title="GitHub" rel="noopener noreferrer" href="https://github.com/{{ . }}" target="_blank">
				{{ partial "svg/github.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.gitlab }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn" title="GitLab" rel="noopener noreferrer" href="https://gitlab.com/{{ . }}" target="_blank">
				{{ partial "svg/gitlab.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.bitbucket }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn" title="Bitbucket" rel="noopener noreferrer" href="https://bitbucket.org/{{ . }}" target="_blank">
				{{ partial "svg/bitbucket.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.email }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn gmail" title="Email" href="mailto:{{ . }}">
				{{ partial "svg/gmail.svg" (dict "class" "widget-social__link-icon") }}
			</a>
		</div>
		{{- end }}

		{{ range .Site.Params.widgets.social.custom }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn share-btn" title="{{ .title }}" rel="noopener noreferrer" href="{{ .url }}" target="_blank">
				{{- if .icon }}
					{{ partial .icon (dict "class" "widget-social__link-icon") }}
				{{- end }}
				<span>{{ .title }}</span>
			</a>
		</div>
		{{ end }}
	</div>
</div>
{{- end }}