{{ if .IsHome -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
    "license": "{{ .Site.Params.Copyright }}"
}
</script>
{{ else if .IsPage -}}
{{- $author := index .Site.Data.authors ( .Params.author | default .Site.Author.code | default "") -}}
{{- $accountablePerson := .Site.Author.name -}}
{{- $org_name :=  .Site.Title -}}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "articleSection": "{{ .Section }}",
    "name": {{ .Title }},
    "headline": {{ .Title }},
    "alternativeHeadline": {{ .Params.lead }},
    "description": {{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary  }}{{ end }}{{ end }},
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
	"isFamilyFriendly": true,
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ .Permalink }}
    },
    "author" : {
        "@type": "Person",
        "name": "{{ $author.name }}"
    },
    "creator" : {
        "@type": "Person",
        "name": "{{ $author.name }}"
    },
    "accountablePerson" : {
        "@type": "Person",
        "name": "{{ $accountablePerson }}"
    },
    "copyrightHolder": "{{ $org_name }}",
    "copyrightYear": "{{ .Date.Format "2006" }}",
    "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
    "publisher":{
        "@type":"Organization",
        "name": {{ $org_name }},
        "url": {{ .Site.BaseURL }},
        "logo": {
            "@type": "ImageObject",
            "url": {{ .Site.Params.logo_amp | absURL }},
            "width": 600,
            "height": 60
        }
    },
    "image": {{ if .Params.images }}[{{ range $i, $e := .Params.images }}{{ if $i }}, {{ end }}{{ $e | absURL }}{{ end }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
    "url": {{ .Permalink }},
    "wordCount": {{- .WordCount -}},
    "genre": {{ .Params.tags }},
    "keywords": {{ .Params.keywords }}
}
</script>
{{ end -}}